extends ../layout
block content
	.container  
		.row
			form.form-horizontal(method="post",action="/admin/movie/save")
				//- 如果有id则认为是更新操作
				if movie._id 
					input(type="hidden",name="movie[_id]",value="#{movie._id}")
				.form-group
					label.col-sm-2.control-label(for="inputCategory") 电影分类
					.col-sm-10
						input#inputCategory.form-control(type="text",name="movie[categoryName]",value= movie.categoryName )
				.form-group
					label.col-sm-2.control-label 分类选择
					each cat in categories
						label.radio-inline 
							//-  如果是修改，则默认选择相应的分类
							if movie._id
								input(type="radio",name="movie[category]",value= cat._id, checked = cat._id.toString() == movie.category.toString())
								| #{cat.name}
							else 
								input(type="radio",name="movie[category]",value= cat._id)
								| #{cat.name}
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[title]",value= movie.title )
				.form-group
					label.col-sm-2.control-label(for="inputdoctor") 导演
					.col-sm-10
						input#inputdoctor.form-control(type="text",name="movie[doctor]",value= movie.doctor )
				.form-group
					label.col-sm-2.control-label(for="inputcountry") 国家
					.col-sm-10
						input#inputcountry.form-control(type="text",name="movie[country]",value= movie.country )
				.form-group
					label.col-sm-2.control-label(for="inputyear") 上映年份
					.col-sm-10
						input#inputyear.form-control(type="text",name="movie[year]",value= movie.year )				
				.form-group
					label.col-sm-2.control-label(for="inputposter") 海报地址
					.col-sm-10
						input#inputposter.form-control(type="text",name="movie[poster]",value= movie.poster )				
				.form-group
					label.col-sm-2.control-label(for="inputflash") 视频地址
					.col-sm-10
						input#inputflash.form-control(type="text",name="movie[flash]",value= movie.flash )
				.form-group
					label.col-sm-2.control-label(for="inputlanguage") 语种
					.col-sm-10 
						input#inputlanguage.form-control(type="text",name="movie[language]",value= movie.language )
				.form-group
					label.col-sm-2.control-label(for="inputsummary") 简介
					.col-sm-10
						input#inputsummary.form-control(type="text",name="movie[summary]",value= movie.summary )
				.form-group
					.col-sm-2
					.col-sm-10
						button.btn.btn-default(type="submit")录入